{% macro render_item(item, show_form=False) %}
<div style="border-style: solid; border-color: black; margin: 5px">
    <p>
        <span style="color: black">Название:</span>
        <span style="color: blue">{{ item['prod_name'] }}</span><br>
        <span style="color: black">Единица измерения:</span>
        <span style="color: blue">{{ item['prod_measure'] }}</span><br>
        <span style="color: black">Цена:</span>
        <span style="color: blue">{{ item['prod_price'] }}</span>
    </p>

    {% if show_form %}
    <div>
        <form action="" method="post">
            <input type="hidden" name="item_id" value="{{ item['prod_id'] }}">
            <input type="submit" name="action" value="Add">
        </form>
    </div>
    {% endif %}
</div>
{% endmacro %}
