<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Универсам Изобилие</title>
    <style type="text/css">
        li {
           font-family : Verdana;
           font-size   : 14pt;
           color       : blue;
           }
        p  {
           font-family : Verdana;
           font-size   : 16pt;
           color       : black;
           }
    </style>
</head>
<body>
  <div>
      <img src=https://avatars.mds.yandex.net/i?id=91f0deff1d6b01dd99e15f5973f6cfa1-4910248-images-thumbs&n=13>
      <p> Группы товаров</p>
      <ol>
          <li> Мясо</li>
          <li> Рыба</li>
          <li> Молочные продкукты</li>
      </ol>
  </div>

</body>
</html>