<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск продукта</title>
</head>
<body>
    <h2 align="center"> Введите название продукта</h2>
    <center>
        <form action="" method="POST">
            <label for="product">Введите название продукта</label>
            <br><br>
            <input name="product_name" id="product" type="text" placeholder="Название продукта">
            <br><br>
            <input type="submit" value="Отправить">
        </form>
    </center>
</body>
</html>