<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск продукта</title>
    <link type="text/css" rel="stylesheet" href="static/sem2.css">
</head>
<body>
<center>
    <h2>Введите название продукта</h2>
    <form action="" method="POST">
        <label for="product">Введите название продукта</label>
        <input name="product_name" id="product" type="text" placeholder="Имя продукта">
        <input type="submit" value="Отправить">
    </form>
</center>
</body>
</html>
