<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Переход по ссылкам</title>
    <style type="text/css">
        h2 { font-size  : 14pt;
             color      : black
            }
        a  { font-size  : 14pt;
             color      :  green
            }
    </style>

</head>
<body>
<h2 align="center">Главное меню ИС</h2>
  <p align = center>
      <a href="/page1">Нажмите для перехода на страницу 1</a><br><br>
      <a href="/page2"> Нажмите для перехода на страницу 2</a> <br><br>
      <a href="/exit"> Нажмите для выхода из системы</a>
  </p>

</body>
</html>