{% extends 'market/base.html' %}
{% block index %}

{% import 'market/components.html' as components %}

<div class="container">
    <div class="row">
        <div class="col-md-2" id="filters">
            {{ components.render_filter() }}
        </div>
        <div class="col-md-8" style="background-color: #c9c9c9">
            <center>
            {% if not items %}
                <h1>Нет товаров по вашим требованиям</h1>
            {% else %}
                {{ components.render_content(items=items) }}
            {% endif %}
            </center>
        </div>
        <div class="col-md-2">
            <p>Ваша корзина: </p>
            <div>
                <a href="#">К оплате</a>
            </div>
            <div>
                <a href="{{ url_for('blueprint_market.clear_basket') }}">Очистить корзину</a>
            </div>
            <div>
                {% if basket_items %}
                    {{ components.render_basket(items=basket_items) }}
                {% else %}
                    <p>Ваша корзина пуста</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
