<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
    <link href="static/sem4.css", type="text/css", rel="stylesheet"
</head>
<body>
  <h1 align = center> Введите логин и пароль</h1> <br><br>
  <div align = center>
  <form method = POST action="">
      <label for login> Логин</label>
      <input type = text id = login name = login> <br><br>
      <label for password> Пароль </label>
      <input type = password name = password id = password> <br><br>
      <input type = submit class = submit value ='Отправить' >
  </form>
  </div>

</body>
</html>